:root{
    --grey90: #050505;
    --grey80: #1F1F1F;
    --grey70: #2D2D2D;
    --grey60: #3A3A3A;

    --lgrey50: #757575;
    --lgrey40: #E9E9E9;
    --lgrey30: #F4F4F4;

    --purple: #A445ED;
    --salmon: #FF5252;
}