/* Sans Serif */

.heading-l {
    font-size: 2rem;
    color: #2d2d2d;
    font-weight: 700;
}

.heading-m {
    font-size: 1.5rem;
    color: #2d2d2d;
    line-height: 1.81rem;
    font-weight: 400;
}

.heading-s {
    font-size: 1rem;
    color: #757575;
    line-height: 1.5rem;
    font-weight: 400;
}

.body-m {
    font-size: 1.125rem;
    color: #2d2d2d;
    line-height: 1.5rem;
    font-weight: 400;
}

.body-s {
    font-size: 0.875rem;
    color: #2d2d2d;
    line-height: 1.06rem;
    font-weight: 400;
}

.serif {
    font-family: Lora, Serif;
}

.mono {
    font-family: Inconsolata, Serif;
}

.section-header-wr {
    display: flex;
    align-items: center;
}

.section-header {
    font-size: 1.125rem;
}

.header-line {
    border: #e5e5e5 solid 1px;
    height: 1px;
    width: 100%;
    margin-left: 1em;
}

.link-text {
    font-weight: 700;
    color: var(--purple);
    text-decoration: none;
}

.example-text {
    color: #757575;
}

.err-msg {
    color: red;
}